* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
}

p {
  color: #5A6482;
}

a {
  text-decoration: none;
  color: inherit;
}

/*####blocks####*/
.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  height: 44px;
  width: 161px;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  background: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1D253C;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: rgba(29, 37, 60, 0.2);
}

.filled-btn {
  background: #F46752;
  color: white;
  width: 220px;
  height: 61px;
  font-size: 16px;
}

.filled-btn:hover {
  background-color: #ef8475;
}

.filled-btn svg {
  transition: .4s;
}

.filled-btn:hover svg {
  transform: translateX(10px);
}

.grid__col_6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid__col-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid__col-3 {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
}

.section-suptitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #F46752;
}

.section-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  color: #1D253C;
}

.section-desc {
  font-size: 19px;
  line-height: 30px;
}

.vertical-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-note {
  line-height: 19px;
  margin-top: 20px;
}

.img-note span {
  color: #F46752;
}

.dots {
  position: absolute;
  left: -45px;
  top: -550px;
}

/*####blockes####*/

/*####navbar####*/
.navbar {
  &__link {
    line-height: 19px;
    color: #1D253C;
    transition: .3s;
    position: relative;

    &:not(:last-child) {
      margin-right: 35px;
    }

    &:hover {
      color: #007188;

      &:before {
        transform: scale(1);
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #007188;
      bottom: -3px;
      transform: scale(0);
      transition: .4s;
    }
  }
}


/*####navbar####*/

/*#### header ####*/
.header {
  height: 105px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &__container {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left-side {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 35px;
    }
  }
}

/*#### header ####*/


/*####hero ####*/
.hero {
  height: calc(100vh - 105px);
  background: url("../images/hero 1.png") no-repeat center right/contain;
  display: flex;
  align-items: center;

  &-content {
    max-width: 463px;

    &__title {
      font-weight: 600;
      font-size: 64px;
      line-height: 68px;
      text-transform: capitalize;
      color: #1D253C;
    }

    &__desc {
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #5A6482;
      padding-right: 42px;
      margin: 26px 0 40px;
    }

  }
}

/*####hero ####*/


/*####secure ####*/
.secure {
  background-color: #f9f5f2;
  padding: 84px 0 85px;

  &__img {
    background-color: white;
    padding: 31px 43px 32px;
    max-width: 500px;
  }

  &__column-info {
    padding-left: 100px;
  }

  &-link {
    margin-top: 32px;
  }

  &__title {
    margin: 26px 0 19px;
  }
}

/*####secure ####*/

/*####technology ####*/
.technology {
  padding: 148px 0 164px;

  &__title {
    margin: 27px 0 35px;
  }

  &__column-info {
    padding-right: 70px;
  }

  &__column-img {
    padding-left: 5px;
  }

  &-aside-pics {
    position: relative;
  }

  &__img {
    z-index: 1;
    position: relative;
  }

  &-link {
    left: -60px;
    bottom: -20px;
    padding: 20px 8px 19px 25px;
    font-size: 22px;
    margin-top: 15px;
  }

  &-help {
    margin-top: 15px;
  }

}

/*####technology ####*/

.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #126F86;
}

.help-link {
  line-height: 28px;
  background: #FFFFFF;
  box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
  border-radius: 5px;
  color: #1D253C;
  position: absolute;
  z-index: 2;
}

/*####insurance ####*/
.insurance {
  text-align: center;
  padding: 85px 0;
  background-color: #F8F8F8;
  position: relative;

  &__title {
    margin: 30px 0 37px;
  }

  &__items.grid__col-4 {
    grid-column-gap: 70px;
  }

  &__item {
    background-color: white;
    padding: 30px 36px 43px;
    display: flex;
    flex-direction: column;

    &-img {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-size: 24px;
      line-height: 26px;
      color: #1D253C;
      margin-bottom: 15px;
    }

    &-desc {
      font-size: 11px;
      line-height: 26px;
    }

  }

  &__desc {
    margin-bottom: 41px;
    padding-right: 10px;
  }

  &__umbrella {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -110px;
  }

  &__dog {
    position: absolute;
    right: 0;
    margin: auto;
    bottom: -30px;
    z-index: 1;
  }
}

/*####insurance ####*/


/*####services####*/
.services {
  text-align: center;
  background-color: #363839;
  padding: 120px 0 101px;
  position: relative;
  &__number {
    z-index: 3;
    position: relative;
  }
  &__img img{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &__item-img {
    position: relative;
  }
  &__round-pic{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
  }
  &__items {
    padding: 67px 0 32px;
  }

  &__aside-pic{
    position: absolute;
    right: 0;
    top: 205px;
  }

  &__title {
    color: white;
    padding: 26px 0 15px;
  }

  &__desc {
    color: #ACB4BF;
  }

  &__item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 27px 0 8px;
  }

  &__item-desc {
    font-size: 16px;
    line-height: 26px;
    color: #ACB4BF;
  }

}
/*####services####*/

/*####guides ####*/
.guides {
  padding: 148px 0 164px;
  background: #F9F5F2;

  &-link {
    font-size: 17px;
    padding: 11px 18px;
    position: absolute;
    z-index: 2;
    right: 44px;
    bottom: -20px;
  }

  &__title {
    padding-top: 30px;
  }

  &__desc {
    padding: 24px 0 23px;
  }

  &__column-info {
    padding-left: 102px;
  }

  &__img {
    position: relative;
    z-index: 1;
  }
}

/*####guides ####*/

/*####information ####*/
.information {
  padding: 160px 0 132px;

  &__item {
    padding: 40px 0 33px 22px;
    width: 260px;
    height: 323px;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    &-title {
      font-weight: 600;
      font-size: 34px;
      height: 84px;
      line-height: 42px;
      padding: 0 0 8px;
    }

    &-subtitle {
      padding: 21px 0 84px
    }

  }

  &__items.grid__col-3 {
    grid-column-gap: 20px;
  }

  &__item-more-info {
    display: flex;
    align-items: center;
  }

  &__item-more-info a {
    padding-right: 8px;
  }
}

.light-blue {
  color: #7CAFDD;
}

.orange {
  color: #E79751;
}

.pink {
  color: #FA5240;
}

.blue {
  color: #126F85;
}

.first-column {
  background: rgba(169, 216, 255, 0.3);
}

.second-column {
  background: rgba(255, 174, 104, 0.3);
}

.third-column {
  background: rgba(250, 82, 64, 0.3);
}

.fourth-column {
  background: rgba(18, 111, 133, 0.3);
}

/*####information ####*/

/*####join ####*/
.join {
  text-align: center;
  padding: 107px 0 85px;
  background: #E5F3FE;
  position: relative;

  &__desc {
    padding: 8px 0 39px;
  }

  &-section-img1 {
    position: absolute;
    left: 64px;
    top: -65px;
  }

  &-section-img2 {
    position: absolute;
    bottom: 0;
    right: 200px;
  }
}

/*####join ####*/
.footer {
  padding: 75px 0 40px;

  &__subtitle {
    font-size: 14px;
    line-height: 23px;
    color: #5A6482;
  }

  &__column-list {
    display: flex;
  }

  &__column-item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 103px;
    }
  }

  &-title {
    margin-bottom: 22px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1D253C;
  }
  &__subtitle{
    padding: 34px 190px 22px 0;
  }
  &__input{
    width: 216px;
    height: 60px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
  }
  &__btn{
    width: 84px;
    height: 60px;
    background: #126F85;
    border-radius: 0 3px 3px 0;
    border: none;
    margin-left: -8px;
    color: white;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
    &:hover{
      background: #7CAFDD;
    }
    & svg{
      transition: .4s;
    }
    &:hover svg{
      transform: translateX(10px);
    }
    &-icons{
      display: flex;
      margin-top: 28px;
    }
  }


  &__column-links {
    ul {
      li {
        a {
          display: inline-block;
          margin-bottom: 19px;
          line-height: 19px;
          color: #5A6482;

        }
      }
    }
  }
}

ul {
  list-style: none;
}


.footer__btn:hover{

}
.footer__btn svg {
  transition: .4s;
}

.footer__btn:hover svg {
  transform: translateX(10px);
}

.footer-icons {
  display: flex;
  margin-top: 28px;
}

.icon:not(:last-child) {
  margin-right: 34px;
}

.copyright {
  padding: 18px 0;
  background: #F8F8F8;
}

.copyright-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
